.top-deals {
  display: flex;
  flex-direction: column;
  padding: 45px;
  margin: 100px 0;
}

.top-deals .title {
  /* padding: px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 15px; */
  margin-bottom: 40px;
  text-shadow: 1px 3px 1px #9e9fa5;
}

.top-deals .title h3 {
  font-size: 40px;
  font-weight: 900;
}

.top-deals .deals-wrapper {
  /* padding: 10px; */
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  
}

.top-deals .deals-wrapper .deals-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  
}

.top-deals .deals-wrapper .deals-card:hover {
  padding: 5px;
  
}

.top-deals .deals-wrapper .deal-percent {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 9px;
  /* background-color: white; */
  font-size: 7px;
  font-weight: 300;
  /* background-color: rgba(255, 51, 51, 0.2); */
  font-family: cursive;
  background-color: #121731;
  /* border-radius: 15px; */
  /* border-end-end-radius: 3rem;
  border-start-end-radius: 3rem; */

    border-end-end-radius: 19rem;
  border-start-end-radius: 19rem;
  color: white;
}

.top-deals .deals-wrapper img {
  width: 100%;
  max-width: 270px;
  border-radius: 7px;
  margin-bottom: 8px;
  transition: .5s ease-in-out;
  /* backdrop-filter: blur(11px); */
}
.top-deals .deals-wrapper .deals-card:hover img {
    box-shadow: 10px 8px 23px 0 rgba(49, 49, 50, 0.265);
  
}

.top-deals .deals-wrapper h4 {
  font-size: 15px;
  font-weight: 800;
  text-align: center;
}

.top-deals .deals-wrapper .deals-card .deal-price {
  /* align-items: center; */
  text-align: center;
}

.top-deals .deals-wrapper span {
  font-size: 11px;
}

.top-deals .deals-wrapper span.sale-price {
  margin-right: 7px;
  font-weight: 500;
}

.top-deals .deals-wrapper span.list-price {
  text-decoration: line-through;
  font-size: 10px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .top-deals .deals-wrapper {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .top-deals .deals-wrapper img {
    max-width: 100%;
  }
}
