main {
  margin-top: 60px;
  margin-bottom: 110px;
  padding: 10px;
}

.row {
  display: flex;
  padding-top: 30px;
}

.contact-banner {
  background-image: url(../../assets/contact-img.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 100px;
  position: relative;
  /* opacity: .5; */
  /* z-index: -; */
  /* border-radius: 17px; */
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  width: 50%;
  padding: 50px;
  text-align: center;
  border-radius: 17px;
}

.banner-text h2 {
  padding: 30px;
  border-radius: 30px;
  box-shadow: 20px 8px 32px 0 rgba(22, 22, 22, 0.477);
  backdrop-filter: blur(3px);
  font-size: 40px;
  font-weight: bold;
  color: #121731;
  text-shadow: 1px 3px 1px #9e9fa5;
}

.contact-h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.contact h2 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.contact label {
  display: flex;
  align-items: center;
}

.contact i {
  padding: 5px;
  border-radius: 11px;
  font-size: 14px;
  color: #eee;
  background-color: #121731;
  margin-right: 7px;
}

.contact span {
  font-size: 11px;
  font-weight: 300;
  margin-right: 7px;
}

.col-25 {
  flex: 50%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 50%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 12px;
}
.recaptcha-container {
  margin: 20px 0;
}

.col-img {
  flex: 55%;
  display: flex;
  align-items: center;
}

.col-img img {
  width: 100%;
  border-radius: 20px;
}

.col-50 .col-address {
  margin-bottom: 20px;
  padding: 0;
}

.row .col-address:not(:nth-child(1)) {
  margin-left: 12px;
}

main .row input {
  width: 100%;
  margin-bottom: 20px;
  padding: 9px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 400;
  outline: none;
  transition: 0.5s ease-in-out;
}

main .row input:focus {
  border: 1px solid #121731;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 11px;
  font-weight: 300;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 12px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
textarea:focus {
  border: 1px solid #121731;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #121731;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 40%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: #121731c4;
}


hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout */
@media (max-width: 900px) {
  .banner-text {
    width: 100%;
  }

  .row {
    flex-direction: column;
    margin: 0;
  }
  .col-25 {
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
  }

  main .row input {
    width: 100%;
  }

  .row .col-address:not(:nth-child(1)) {
    margin-left: 0;
  }

  .col-img {
    margin-top: 70px;
  }

  .contact i {
    padding: 5px;
    border-radius: 11px;
    font-size: 9px;
    background-color: #121731;
  }

  .contact span {
    font-size: 9px;
  }
  /* 
  .col-50 {
    flex: 100%;
  } */

  /* .col-25 {
    flex: 100%;
  }


  .col-75 {
    
    flex: 100%;
  } */
}

@media (max-width: 575px) {
  .contact-banner {
    height: 35vh;
  }

  .banner-text h2 {
    padding: 10px;
    font-size: 28px;
    border-radius: 10px;
    /* top: 5%; */
    left: 50%;
    transform: translate(-0%, -70%);
  }
}
