.review {
  padding: 60px;
  margin: 100px 0;
}

.review .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
<<<<<<< HEAD
  margin-bottom: 11px;
=======
  margin-bottom: 10px;
>>>>>>> 27c609da820b76aff2dd055f7c3d3c1ceb3f3041
}

.review .title h3 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 8px;
  margin-bottom: 5px;
}

.review .title p {
  font-size: 12px;
<<<<<<< HEAD
  font-weight: 600;
=======
  font-weight: 500;
>>>>>>> 27c609da820b76aff2dd055f7c3d3c1ceb3f3041
  color: #00000060;
  width: 75%;
  margin-top: 8px;
  line-height: 1.5;
  text-align: center;
}

.review .text-content {
  background: rgba(255, 255, 255, 0.459);
  backdrop-filter: blur(11px);
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  margin: 30px 0;
}

.review .text-content .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11.5px;
}

<<<<<<< HEAD
.review .text-content .top p.review-name {
  font-weight: 500 ;
}

=======
>>>>>>> 27c609da820b76aff2dd055f7c3d3c1ceb3f3041
.review .text-content .top img {
  width: 35px;
  border-radius: 20px;
}

.review .text-content .top p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.review .text-content .bottom {
  padding: 15px;
}

.review .text-content .bottom p {
  font-size: 11px;
  line-height: 1.7;
  font-weight: normal;
<<<<<<< HEAD
  color: #00000093;
=======
  color: #00000070;
>>>>>>> 27c609da820b76aff2dd055f7c3d3c1ceb3f3041
}

.review .text-content .bottom i {
  font-size: 15px;
<<<<<<< HEAD
  margin-right: 7px;
=======
  margin-right: 5px;
>>>>>>> 27c609da820b76aff2dd055f7c3d3c1ceb3f3041
  margin-top: 10px;
  color: rgb(255, 196, 0);
}

@media (max-width: 768px) {
  .review {
    padding: 40px;
  }

  .review .title {
    margin-bottom: 20px;
  }

  .review .title p {
    font-size: 9px;
    width: 100%;
  }

  .review .text-content .top img {
    width: 23px;
    border-radius: 13px;
  }

  .review .text-content .top p {
    font-size: 9px;
    font-weight: 700;
  }

  .review .text-content .top {
    padding: 5px;
  }

  .review .text-content .bottom {
    padding: 3px;
  }

  .review .text-content .bottom p {
    font-size: 8px;
  }

  .review .text-content .bottom i {
    font-size: 9px;
  }
}

@media (max-width: 525px) {
  .review {
    padding: 20px;
    margin: 100px 0;
  }

  .review .text-content {
    padding: 15px;
  }
}

@media (max-width: 425px) {
  .review {
    margin: 0;
  }

  .review .title {
    margin: 0;
    text-align: center;
  }

  .review .title h3 {
    font-size: 30px;
  }

  .review .title p {
    font-size: 10px;
  }

  /* .review .swiper-wrapper > .swiper-slide.swiper-slide-prev,
  .review .swiper-wrapper > .swiper-slide.swiper-slide-active,
  .review .swiper-wrapper > .swiper-slide.swiper-slide-next {
    width: 200px !important;
    margin-right: 0px;
  } */
}
