.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
  /* background-color: transparent; */
  /* height: 10vh; */
  padding: 10px 20px;

  /* box-shadow: 0px -10px 20px #000000c5; */
}

.scroll-active {
  padding: 13px 40px;
  /* background-color: hsla(0, 0%, 100%, 0.635); */
  background: rgb(255, 255, 255);
  box-shadow: 20px 8px 32px 0 rgba(31, 38, 135, 0.1);
}

.header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.header .logo {
  width: 150px;
  outline: none;
  cursor: pointer;
}

.header .logo.nav-logo {
  /* display: none; */
}

.header .navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .navbar li {
  font-size: 11px;
  color: #242735;
  /* color: #fff; */
  font-weight: 600;
  cursor: pointer;
}

.header .navbar li:hover {
  color: #2f3449c1;
}

.header .header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header .header-icon i {
  cursor: pointer;
  font-size: 16px;
  color: #121731;
}

.header .header-icon #close-menu-btn {
  display: none;
}

.header .header-icon i:hover {
  color: #2f3449c1;
}

.header #menu-btn {
  display: none;
  color: #2f3449;
  cursor: pointer;
}

.header .dot {
  position: absolute;
  min-width: 7px;
  min-height: 7px;
  padding-inline-start: 2px;
  font-size: 8px;
  color: #fff;
  background-color: #f16609;
  top: 29%;
  right: 9.3%;
  border-radius: 12px;
}

.nav-profile {
  position: relative;
}

.nav-profile-dropdown {
  width: 200px;
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  z-index: 1;
  animation: profileAnimation 0.5s;
}

@keyframes profileAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.nav-profile .nav-profile-dropdown hr {
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
}

.nav-profile:hover:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 10px 20px #484848c5;
  padding: 25px 50px;
  border-radius: 4px;
  /* outline: 2px solid white; */
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.nav-profile-dropdown li span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 10px;
  letter-spacing: 1.5px;
  width: 100%;
  color: #2f3449;
  /* color: rgba(0, 0, 0, 0.664); */
}

.nav-profile-dropdown li > i {
  border: none;
  /* font-size: 10001px; */
  /* background: transparent; */
  cursor: pointer;
  width: 5%;

  margin-right: 12px;
}

.nav-profile i.bxs-user-circle {
  border: none;
  font-size: 23px;
}

.nav-profile-dropdown li button.bx-basket {
  color: #121731;
}

.form-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
  background-color: #00000090;
  display: none;
}

.form-div .header-form {
  padding: 20px;
  margin-top: 40px;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.98);
  }
  50% {
    opacity: 0.6;
    transform: translateY(5px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 1050px) {
  .header {
    /* height: max(7vh); */
    padding: 15px 20px;
  }

  .scroll-active {
    padding: 17px 30px;
  }

  .header .logo {
    width: 110px;
  }
  .header .navbar li {
    font-size: 10px;
  }
  .header .header-icon i {
    font-size: 13px;
  }
}

/* @media (max-width: 768px) {
 .header {
    padding: 28px 25px;
  }

  .header .logo {
    width: 120px;
    margin-top: 10px;
    transition: 0.5s ease;
  }

  .header .header-icon {
    gap: 30px;
  }

  .header #menu-btn {
  display: inline-block;
  color: #2f3449;
  cursor: pointer;
}

  

  .header .navbar {
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 25px;
  }

  .header-icon {
    position: absolute;
    right: 12px;
  }
} */

@media (max-width: 768px) {
  .header {
    padding: 10px 25px;
    /* backdrop-filter: blur(10px); */
  }

  .header .logo {
    width: 110px;
    margin-top: 10px;
    transition: 0.5s ease;
    display: none;
  }

  .header .header-icon {
    gap: 30px;
  }

  .header .header-icon i {
    font-size: 15px;
  }

  .header #menu-btn {
    display: inline-block;
    color: #2f3449;
    cursor: pointer;
  }

  .header .navbar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #f4f3f3;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .header .navbar.active {
    display: flex;
    z-index: 100;
    animation: slideDown 0.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  .header .logo-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: inline;
    /* display: none; */
  }

  .header .logo-container img {
    width: 100px;
  }

  .header .logo.nav-logo {
    display: block;
  }

  .header .navbar li {
    font-size: 12px;
    color: #242735;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 17px;
    width: 100%;
    text-align: left;

    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
  }
  .header .navbar.active li {
    opacity: 1;
    transform: translateY(0);
  }

  .header .navbar.active li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .header .navbar.active li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .header .navbar.active li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .header .navbar.active li:nth-child(4) {
    transition-delay: 0.4s;
  }
  

  .header #close-menu-btn {
    display: none;
  }

  .header .navbar.active ~ .header-icon #menu-btn {
    display: none;
  }

  .header .navbar.active ~ .header-icon #close-menu-btn {
    display: inline-block;
  }

  .header-icon {
    position: absolute;
    right: 12px;
  }
}

/* @media (width < 580px) {
      .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      width: 100%;
      gap: 20px;
      padding: 12px 30px;
      flex-direction: column;
      transition: 0.5s ease-in-out;
      background-color: inherit;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      border-top: 1px solid #b3aaaa90;
    }

    .header .navbar li:hover {
      transition: 0.5s ease-in-out;
      border-left: 1px solid #00000090;
      padding-left: 8px;
    }

    .header #menu-btn {
      display: inline-block;
    }

    .header #menu-btn.active {
      display: none;
    }

    .header #close-menu-btn.active {
      display: inline-block;
    }

    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      z-index: 2;
    }

    .header .navbar li {
      margin-bottom: 3px;
      font-size: 10px;
      display: inline-block;
    }
  } */

@media (max-width: 425px) {
  .header {
    /* padding: 28px 25px; */
  }

  .header .logo {
    width: 100px !important;
    margin-top: 10px;
    transition: 0.5s ease;
  }

  .header .header-icon {
    gap: 20px;
  }
  .header .header-icon i{
    font-size: 12px;
  }
}
