footer {
  /* margin-top: 10px; */
  margin-top: 80px;
  margin-top: 80px;
}

.footer-main {
  padding: 10px 20px;
  background-color: rgb(232, 232, 232);
  background-color: rgba(233, 229, 229, 0.838);
  background-color: rgba(233, 229, 229, 0.838);
}

.footer-main .content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  margin-top: 10px;
  padding: 20px;
}

.footer-main i {
  cursor: pointer;
}

.footer-main .content a {
  font-size: 10px;
  color: #121731;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  padding-block: 3px;
}

.footer- .content a:hover {
  background-color: #d2d2da;
  border-left: 1px solid #121731;
  margin-left: 5px;
}

.footer-main .content .content-left {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.footer-main .content .content-left img {
  width: 110px;
  transform: translateX(-12px);
}

.footer-main .content .content-left p {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.7;
  color: #121731;
}

.footer-main .content .content-left span {
  font-size: 10px;
  font-weight: 500;
  /* font-family: Poppins; */
}

.footer-main .content .content-left .social-icon {
  display: flex;

  gap: 10px;
}

.footer-main .content .content-left .social-icon i {
  margin-right: 0px;
  color: white;
  background-color: #121731;
  border-radius: 42%;
  border: 1px solid white;
  padding: 6px;
  font-size: 17px;
}

.footer-main .content .content-center {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.footer-main .content .content-center .center-nav {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.footer-main .content .content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.footer-main .content h2 {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #121731;
}

.footer-main .form {
  background-color: #121731;
  padding: 40px 12px;
  margin: 30px;
  border-radius: 7px;
  line-height: 1.7;
}

.footer-main .form form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main .form h2 {
  font-size: 25px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 1px;
  color: #eee;
}

.footer-main .form p {
  font-size: 15px;
  color: white;
  font-weight: 100;
  text-align: center;
  margin: 8px 0;
}

.footer-main .form input {
  width: 100%;
  padding: 15px 5px;
  font-size: 13px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transform: translateX(5%);
}

.footer-main .form button {
  padding: 10px 35px;
  transform: translateX(-70px);
  background-color: #121731;
  color: #e2e2ee;
  outline: none;
  font-size: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

.footer-main .developer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

.footer-main .developer-icons i {
  background-color: #121731;
  color: #eee;
  padding: 9px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 14px;
}

.footer-main .developer-icons i:hover(link) {
  border: 2px solid #fff;
  margin: 0;
}

.footer-main p.copyright {
  margin-bottom: 15px;
  text-align: center;
  color: #121731;
}

.footer-main p.designer {
  margin-bottom: 15px;
  text-align: center;
  color: #121731;
}

@media (width <= 992px) {
  .footer-main .form button {
    padding: 10px 25px;
  }
}

@media (width <= 900px) {
  .footer-main .content {
    display: flex;
    flex-direction: column;
  }
  i {
    cursor: pointer;
  }

  .footer-main a {
    font-size: 9px;
  }

  .footer-main .content .content-left p {
    font-size: 9px;
    letter-spacing: 0;
  }

  .footer-main .content h2 {
    font-size: 19px;
  }

  .footer-main .content .content-center .center-nav {
    gap: 7px;
  }
  .footer-main .content .content-right {
    gap: 13px;
  }
}

@media (width <= 768px) {
  .footer-main .form h2 {
    font-size: 19px;
  }

  .footer-main .form p {
    font-size: 11px;
  }

  .footer-main .form input {
    width: 80%;
    padding: 10px;
    border-radius: 7px;
  }

  .footer-main .form button {
    padding: 9px 25px;
    transform: translateX(-70px);
  }
}

@media (width <= 575px) {
  .footer-main .form {
    padding: 17px 30px;
  }

  .footer-main .form p {
    font-size: 5px;
    line-height: normal;
    display: none;
  }

  .footer-main .form input {
    padding: 3px 3px;
    border-radius: 3px;
    transform: translateX(20px);
    text-align: initial;
    font-size: 8px;
  }

  .footer-main .form button {
    padding: 3px 8px;
    font-size: 6px;
    border-radius: 2px;
    transform: translateX(-20px);
  }

  .footer-main .form h2 {
    letter-spacing: 0;
    font-size: 9px;
    margin-bottom: 4px;
  }
}

@media (max-width: 375px) {
  footer {
    margin-top: 450px;
  }
}
