@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  /* --font-body: "Playfair Display", serif; */
  /* --font-body: "Inter", sans-serif; */

  font-family: "Audiowide", sans-serif;
}

* {
  /* font-family:  Poppins , system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #121731;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar {
  width: 8px;
}
