.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 30px 0; */
    margin-top: 100px;
    padding: 100px 0;
    /* transform: translateY(50%); */
}

.not-found h1 {
    font-size: 105px;
    color: #00000090;
}

.not-found p {
    color: #00000090;
    font-size: 23px;
    font-style: italic;
}