.main-about {
    margin-bottom: 15rem;
}

.about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-banner img {
    margin-top: 70px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
}

/* .about-banner img {
    width: 50%;
    object-fit: contain;
    height: auto;
} */

.about-banner .text-right {
    background-color: #ff6347;
    display: grid;
    align-self: last baseline;
    position: absolute;
    border-radius: 15px;
    left: 60%;
    bottom: -8%;
    width: 30%;
    padding: 30px 100px;
}

.about-banner .text-right p {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.about-banner .text-right span {
    display: flex;
    font-size: 17px;
    font-weight: 100;
    font-style: italic;
    color: white;
}

.content-about {
    padding: 38px;
}

.content-about .sub-content-about {
    margin: 25px 0;
}

.content-about p {
    margin: 10px 0;
    line-height: 1.4;
    font-weight: 300;
}

.content-about .sub-content-about > h4{
    margin: 10px 0;
}

.content-about .sub-content-about > p {
    margin: 15px 0;
    line-height: 1.7;
    font-weight: 300;
}