.main-about {
    display: grid;
    gap: 40px;
    margin-bottom: 15rem;
}

.about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.about-banner img {
    margin-top: 70px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
}

/* .about-banner img {
    width: 50%;
    object-fit: contain;
    height: auto;
} */

.about-banner .text-right {
    background-color: white;
    display: grid;
    gap: 10px;
    align-self: last baseline;
    position: absolute;
    right: 55%;
    bottom: -8%;
    width: 40%;
    /* padding: 30px 100px; */
    padding: 30px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-banner .text-right p {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.about-banner .text-right span {
    display: flex;
    font-size: 17px;
    font-weight: 100;
    color: black;
}

.content-about {
    padding: 38px 40px;
    margin: 50px;
}

.content-about .sub-content-about {
    margin: 25px 0;
}

.content-about p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
}

.content-about h4{
    margin: 10px 0;
    font-size: 25px;
}

.content-about .sub-content-about > p {
    margin: 15px 0;
    line-height: 1.5;
    font-weight: 300;
}


@media (max-width : 768px) {

    .about-banner {
        
    }

    .about-banner .text-right {
        right: 10%;
        bottom: -5%;
        width: 80%;
    }

    .content-about {
        padding: 20px;
        margin: 40px;
    }

    .content-about p {
        font-size: 13px;
    }

    .content-about .sub-content-about > h4 {
        font-size: 20px;
    }
    
}